.reservation-container {
  display: flex;
  margin-top: 20px;
  /* margin-left: 350px; */
  margin-bottom: 20px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}

.title-reserves {
  font-size: 20px;
}

.reservation-images {
  flex-basis: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.reservation-image {
  flex-basis: 50%;
}

.reservation-image img {
  width: 500px;
  height: 650px;
  border-radius: 3px;
  margin-top: 10px;
  margin-left: 35%;
  object-fit: cover;
}

.reservation-form {
  flex-basis: 60%;
}

.reservation-info {
  font-size: 60px;
  margin-bottom: 20px;
}

.reservation-item-title {
  margin-bottom: 10px;
}

.reservation-input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.reservation-input {
  flex-basis: 50%;
  margin-bottom: 10px;
}

.reservation-input label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.reservation-input input,
.reservation-input select {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
}

.reservation-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: 60%;
  border-radius: 10px;
}

.reservation-buttons button {
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.reservation-submit {
  background-color: #f81818;
  color: #fff;
  margin-right: 10px;
}

.reservation-cancel {
  background-color: #ccc;
  color: #fff;
}

/* done */
.reservation-success {
  color: #590808;
  font-weight: bold;
  font-size: 20px;
}

.accept img {
  margin-top: 20px;
  margin-left: 60px;
  margin-bottom: 25px;
}

.linkhome {
  font-family: "Righteous", serif;

  background-color: #f89929;
  border: none;
  color: black;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  margin-top: 150px;
  margin-left: 55px;
}
